<navigation> </navigation>
<!-- view all request items -->
<div style="margin-top:50px; width:100%; padding:15px; position:absolute;">
  <div class="row" >
    <div style="display:inline-block; float:left; margin-left:20px; " class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Left Align">
        {{selectedCategory}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="category in categories" ng-click="filter(category)"><a style="cursor: pointer;">{{category}}</a></li>
      </ul>
    </div>
    <div style="display:inline-block; float:right; margin-right:15px;">
      <a style="text-decoration: none; color:white;" ui-sref="request_post">
        <button type="button" class="btn btn-info" aria-label="text-right Align">
          Post New Request
        </button>
      </a>
    </div>
    <div style="clear:both;"/>
  </div>
  <div class="row" style="margin:20px 10px 0px 10px;" >
    <div class="col-md-4" style="width:246px; display:inline-block; height:231px;" ng-repeat="item in displayedItems">
      <div class="thumbnail" ui-sref="request_item({random: item._id})" >
        <img ng-src="{{item.pictures[0].url}}" alt="Image Not Found" style="width:100%; height:140px;"/>
        <p style="font-size:1.5em; margin:0px 5px 0px 5px;">
          <b>{{item.name}}</b>
        </p>
        <p style="fontsize:1em; margin:0px 5px 10px 5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
          {{item.description}}
        </p>
      </div>
    </div>
  </div>
</div>