<navigation> </navigation>
<div class="main">
  <!--Rent-->
  <div>
    <div class="row" style="margin:20px 10px 0px 0px; border-bottom: 0.5px solid grey;">
      <h2>{{rentTitle}}<span style="padding-left: 15px;" ng-class="titleClasses[0]" ng-click="updateContainer(0)"></span></h2>
    </div>
    <div class="row" style="margin-top:10px" ng-show="itemContainer[0]">
      <h3 style="margin: 5px 15px 0px 15px;" ng-if="rentItems.length < 1">No Items Found</h3>
      <div class="col-md-4" style="width:246px; display:inline-block;" ng-repeat="item in rentItems">
        <div class="thumbnail item" ui-sref="rent_item({random: item._id})">
          <img ng-src="{{item.pictures[0].url}}" alt="Image Not Found" style="width:100%; height:140px;"/>
          <p style="font-size:1.5em; margin:0px 5px 0px 5px;">
            <b>{{item.name}}</b>
          </p>
          <p class="item-preview-description">
            {{item.description}}
          </p>
          <p class="item-preview-description" style="margin:0px;">
            <span class="item-preview-price">{{item.price}} USD {{item.priceOption}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Borrow-->
  <div>
    <div class="row" style="margin:20px 10px 0px 0px; border-bottom: 0.5px solid grey;">
      <h2>{{borrowTitle}}<span style="padding-left: 15px;" ng-class="titleClasses[1]" ng-click="updateContainer(1)"></span></h2>
    </div>
    <div class="row" style="margin-top:10px" ng-show="itemContainer[1]">
      <h3 style="margin: 5px 15px 0px 15px;" ng-if="borrowItems.length < 1">No Items Found</h3>
      <div class="col-md-4" style="width:246px; display:inline-block;" ng-repeat="item in borrowItems">
        <div class="thumbnail item" ui-sref="borrow_item({random: item._id})">
          <img ng-src="{{item.pictures[0].url}}" alt="Image Not Found" style="width:100%; height:140px;"/>
          <p style="font-size:1.5em; margin:0px 5px 0px 5px;">
            <b>{{item.name}}</b>
          </p>
          <p class="item-preview-description">
            {{item.description}}
          </p>
          <p class="item-preview-description" style="margin:0px;">
            <span class="item-preview-price">FREE</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Requests-->
  <div>
    <div class="row" style="margin:20px 10px 0px 0px; border-bottom: 0.5px solid grey;">
      <h2>{{requestTitle}}<span style="padding-left: 15px;" ng-class="titleClasses[2]" ng-click="updateContainer(2)"></span></h2>
    </div>
    <div class="row" style="margin-top:10px" ng-show="itemContainer[2]">
      <h3 style="margin: 5px 15px 0px 15px;" ng-if="requestedItems.length < 1">No Items Found</h3>
      <div class="col-md-4" style="width:246px; display:inline-block;" ng-repeat="item in requestedItems">
        <div class="thumbnail item" ui-sref="request_item({random: item._id})">
          <img ng-src="{{item.pictures[0].url}}" alt="Image Not Found" style="width:100%; height:140px;"/>
          <p style="font-size:1.5em; margin:0px 5px 0px 5px;">
            <b>{{item.name}}</b>
          </p>
          <p class="item-preview-description">
            {{item.description}}
          </p>
          <p class="item-preview-description" style="margin:0px;">
            <span class="item-preview-price">NEEDED</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--currently renting-->
  <div>
    <div class="row" style="margin:20px 10px 0px 0px; border-bottom: 0.5px solid grey;">
      <h2>{{currentTitle}}<span style="padding-left: 15px;" ng-class="titleClasses[3]" ng-click="updateContainer(3)"></span></h2>
    </div>
    <div class="row" style="margin-top:10px" ng-show="itemContainer[3]">
      <h3 style="margin: 5px 15px 0px 15px;" ng-if="currentItems.length < 1">No Items Found</h3>
      <div class="col-md-4" style="width:246px; display:inline-block;" ng-repeat="item in currentItems">
        <div class="thumbnail item" ui-sref="rent_item({random: item.itemId})">
          <img ng-src="{{item.itemImage}}" alt="Image Not Found" style="width:100%; height:140px;"/>
          <p style="font-size:1.5em; margin:0px 5px 0px 5px;">
            <b>{{item.itemName}}</b>
          </p>
          <p style="fontsize:1em; margin:0px 5px 10px 5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
            {{item.itemDescription}}
          </p>
          <p style="fontsize:1em; margin:0px 5px 10px 5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
            End date: {{item.itemEndDate | date : 'short'}}
          </p>
        </div>
      </div>
    </div>
  </div>

</div>