<navigation> </navigation>
<!-- view all request items -->
<div style="margin-top:50px; width:100%; padding:15px; position:absolute;">
  <div class="row" >
           <div style="text-align:center; margin-top:20px;">
            <a ng-click="getUserRequestItems()" class="btn btn-danger" role="button">Get items</a>
           </div> 
    <div style="clear:both;"/>
    </div>
    <div class="row" style="margin:20px 10px 0px 10px;" >
      <div class="col-md-4" style="width:246px" ng-repeat="item in requestedItems">
        <div class="thumbnail" ui-sref="detail({random: item._id})">
          <img ng-src="{{item.picture.url}}" alt="Image Not Found" style="width:100%; height:140px;"/>
          <p style="font-size:1.5em; margin:0px 5px 0px 5px;">
            <b>{{item.name}}</b>
          </p>
          <p style="fontsize:1em; margin:0px 5px 10px 5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
            {{item.description}}
          </p>
        </div>
      </div>
      <!--Item Template
      <div class="col-md-4" style="width:246px">
        <div class="thumbnail" ui-sref="detail({random: item._id})">
          <img ng-src="" alt="Image Not Found" style="width:100%; height:140px;"/>
          <p style="font-size:1.5em; margin:0px 5px 0px 5px;">
            <b>Item Name</b>
          </p>
          <p style="fontsize:1em; margin:0px 5px 10px 5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;">
            Description
          </p>
        </div>
      </div>
    -->
  </div>
</div>