<navigation> </navigation>
<div class="main">
  <!--Rent-->
  
  <div>
    <div class="row" style="margin:20px 10px 0px 0px;">
      <h2><h2><a ui-sref="message">Received Messages</a> || <a ui-sref="sendMessage">Sended Messages</a> </h2></h2>
    </div>
    <div class="row" style="margin:5px 10px 0px 10px;" >
      
      
      <!--testing for inside loop itemIn -->
            <div ng-repeat="itemIn in receivedMessages | orderBy: '-date' " >
            <br>
            <hr>
            <p style="display: inline-block; margin-left: 7px;">From <a ui-sref="publicProfile({random: itemIn.ownerId})">{{itemIn.ownerName}} | </a> on {{itemIn.date | date: "short"}} | Title: {{itemIn.subject}} | Content: {{itemIn.content}}
              <button type="button" class="btn btn-info" aria-label="text-right Align"  data-toggle="modal" data-target="#sendMessage"  ng-click="getInfo(itemIn._id,itemIn.subject)">
                   Reply
              </button>
              <button type="button" class="btn btn-info" aria-label="text-right Align"  ng-click="delete(itemIn._id)">
                     Delete
              </button>
            </p>
            


            <!-- ----------------------begin conversation-------------------------- -->
                      <div ng-repeat="rep in conbine = itemIn.receiverReply.concat(itemIn.ownerReply) | orderBy:'date' "> 
                        
                       
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                        
                                        <img class="media-object img-circle " ng-src="{{rep.image.url}}" style="border-radius: 50%; width: 50px; height: 50px; display: inline-block;">
                                    </a>
                                    <div class="media-body">
                                        {{rep.content}}
                                        <br>
                                       <small class="text-muted">{{rep.name}} | {{rep.date | date: "short"}}</small>
                                        <hr>
                                    </div>
                                </div>
        
                            </div>
                        
                        </div>
             <!------------------------end conversation-------------------------------------------- -->         
          </div>
    </div>
  </div>
 
  

</div>

<!--Message toggle form - -->
<div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
      <form class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Message Form</h4>
         </div>
         <div class="modal-body">
            <!--Change NG Models-->
            <div class="form-group">
               <label>Subject</label>
               <input type="text" class="form-control" text="{{}}" placeholder="message.subject" ng-model="message.subject" readonly>
            </div>
            <div class="form-group">
               <label>Message</label>
               <textarea id="textarea" ng-model="message.content" class="form-control" style="height: 150px; resize: none;"></textarea>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" ng-click="replyMessage()">Send Reply</button>
         </div>
      </form>
   </div>
</div>
<!-- end message toggle -->
