<navigation> </navigation>

<div style="margin-top:50px; width:100%; padding:15px; position:absolute;" ng-controller='rentPostController'>
	<images id="images" pictures="{{rentPost.pictures}}"></images>

	<form name="rentPostForm" id="form" style="float:left; width:calc(100% - 40px); margin-left:20px;">
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Item Name" ng-model="rentPost.name" required>
		</div>
		<div class="form-group">
			<label>Category/Categories</label>
			<select ng-model="rentPost.category" class="form-control" required>
				<option ng-repeat="category in categories">{{category}}</option>
			</select>
		</div>
		<div class="form-group">
			<label>Price</label>
			<input type="text" class="form-control" placeholder="Enter price" ng-model="rentPost.price" required>
		</div>
		<div class="form-group">
			<label>Quantity</label>
			<input type="text" class="form-control" placeholder="Enter a number" ng-model="rentPost.quantity" required>
		</div>
		<div class="form-group">
			<label >Item Description</label>
			<textarea id="textarea" ng-model="rentPost.description" class="form-control" style="height: 150px;"></textarea>
		</div>
		<button type="button" class="btn btn-default" ng-click="upload()">
			Upload Picture
		</button>
		<button style="margin-top: 15px;"type="submit" class="btn btn-danger btn-block"  ng-click="createRentPost()" ng-disabled="rentPostForm.$invalid">Submit</button>
	</form>
</div>