<navigation> </navigation>
<!--Rent Post Container-->
<div class="main" ng-controller='rentPostController'>
	<!--Post Images, Hidden Till Pictures Uploaded-->
	<images id="images" pictures="{{rentPost.pictures}}"></images>
	<!--Rent Post Form-->
	<form name="rentPostForm" id="form" style="float:left; width:calc(100% - 40px); margin-left:20px;">
		<!--Name-->
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Item Name" ng-model="rentPost.name" required>
		</div>
		<!--Category-->
		<div class="form-group">
			<label>Category/Categories</label>
			<select ng-model="rentPost.category" class="form-control" required>
				<option ng-repeat="category in categories">{{category}}</option>
			</select>
		</div>

		<div class="form-group">
			<label>Address</label>
			<input id="from" placeholder="Item Address" type="text" ng-model="user.from" placeholder="Type Address" class="form-control" autocomplete="off" required>
		</div>

		<div>
			<div id="map"></div>
		</div>

		<!--Price-->
		<div class="form-group">
			<label style="width:auto;">Price(USD)</label>
			<input type="number" class="form-control number-input" min="1" step="1" ng-model="rentPost.price" required />
			<select ng-model="rentPost.priceOption" class="form-control" style="width:auto; display: inline-block;" required>
				<option ng-repeat="options in priceOptions">{{options}}</option>
			</select>
			<div style="display: inline-block; margin-left: 100px;">
				<label style="width:auto;">Quantity</label>
				<input type="number" class="form-control number-input" min="1" step="1" ng-model="rentPost.quantity" required />
			</div>
		</div>
		<!--Description-->
		<div class="form-group">
			<label >Item Description</label>
			<textarea id="textarea" ng-model="rentPost.description" class="form-control" style="height: 150px; resize: none;"></textarea>
		</div>
		<button type="button" class="btn btn-default" ng-click="upload()">
			Upload Picture
		</button>
		<button style="margin-top: 15px;" class="btn btn-danger btn-block"  ng-click="createRentPost()" ng-disabled="rentPostForm.$invalid">Submit</button>
	</form>
</div>