<navigation> </navigation>
<!--Borrow Item Container-->
<div class="main">
   <div class="alert alert-dismissible" role="alert" id="editAlert" style="display: none;">
      <button class="close" ng-click="closeAlert()">&times;</span></button>
      {{editMessage}}
   </div>
   <!--Images Directive for Item Pictures-->
   <images id="images" pictures="{{borrowItem.pictures}}"></images>
   <!--Item Details Container-->
   <div class="panel panel-default item-display">
      <p ng-show="owner" style="cursor:pointer; float: right; color: #999; margin: 4px;" ng-click="toggleEdit()">{{editButton}}</p>
      <div id="item">
         <h1 style="font-size:3.5em; margin:0px">{{borrowItem.name}}</h1>
         <div style="margin-left:5px;">
            <p style="margin:0px;">
               By <a ui-sref="publicProfile({random: borrowItem.ownerId})">{{borrowItem.ownerName}}</a>
            </p>
            <!--
            <p style="display:inline-block; margin:0px;">Rating</p>
            <div style="margin:0px 30px 0px 30px; display:inline-block;"/>
            <p style="display:inline-block; margin:0px;"># Reviews</p>
            -->
         </div>
         <h4 style="font-size:1.2em;">
            Currently: <span id="item-state">{{borrowItem.state}}</span>
         </h4>
         <h4 style="margin-bottom:0px; font-size:1.5em; margin-top:20px;">Description</h4>
         <p style="padding:3px; word-wrap:break-word;">{{borrowItem.description}}
         </p>
      </div>
      <div id="editItem" style="display:none; margin-top: 15px;">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Item Name" ng-model="borrowItem.name" required>
            </div>
            <!--Category-->
            <div class="form-group">
                <label>Category</label>
                <select ng-model="borrowItem.category" class="form-control" required>
                    <option ng-repeat="category in categories">{{category}}</option>
                </select>
            </div>
            <!--State-->
            <div class="form-group" style="width: auto;">
               <label style="width:auto;">State</label>
                  <select ng-model="borrowItem.state" class="form-control" style="width:auto; display: inline-block;" required>
                     <option ng-repeat="state in states">{{state}}</option>
                  </select>
            </div>
            <!--Description-->
            <div class="form-group">
                <label >Item Description</label>
                <textarea id="textarea" ng-model="borrowItem.description" class="form-control" style="height: 100px; resize: none;"></textarea>
            </div>
            <button type="button" class="btn btn-default" ng-click="upload()">
                Upload Picture
            </button>
            <div class="form-group" style="margin-top: 15px; display: flex; justify-content: space-around;">
                <button style="display: inline-block; width: 40%;" class="btn btn-danger btn-block" ng-click="deleteRequest()">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Delete
                </button>
                <button style="display: inline-block; width: 40%;" class="btn btn-danger btn-block"  ng-click="updateItem()" ng-disabled="borrowItem.$invalid">Submit</button>
            </div>
        </div>
   </div>
</div>