<navigation></navigation>
<div class="main" >
   <!--Image and Profile Display Container-->
   <div class="row" ng-show="userFound">
      <div class="alert alert-dismissible" style="margin: 10px 20px 20px 20px;" ng-class="alert.class" ng-show="alert.show" role="alert">
         <button class="close" ng-click="alert.show = false;">&times;</span></button>
         {{alert.message}}
      </div>
      <div style="float:left; margin: 50px 25px 20px 50px">
         <img ng-src="{{user.profileImage.url}}" style="width:300px; height:300px; border-radius:50%;"/>
      </div>
      <div class="col-md-7" style="float:left; margin:0px 20px 0px 25px; min-width: 500px;">
         <div class="row">        
            <h1 class="form-signin-heading" style="display:inline-block;">
               {{user.name}}'s Profile
            </h1>
            <button type="button" class="btn btn-info" aria-label="text-right Align" style="margin-left: 30px; margin-bottom: 15px;" data-toggle="modal" data-target="#sendMessage" ng-show="buttons[0]">
               Send A Message
            </button>
         </div>
         <div class="row" style="padding-left: 15px;">
           <stars value="{{user.aRating}}"></stars>
           <p style="display:inline-block; margin:0px 8px 0px 0px;">{{user.aRating}}</p>
           <p style="display:inline-block; margin:0px 0px 0px 8px;">{{user.reviews.length}} Reviews</p>
         </div>
         <div class="form-horizontal" style="margin-top: 15px; ">
            <div class="form-group">
               <label class="col-sm-3 control-label">Name</label>
               <p class="form-control-static">{{user.name}}</p>
            </div>
            <div class="form-group">
               <label class="col-sm-3 control-label">Email</label>
               <p class="form-control-static">{{user.email}}</p>
            </div>
            <div class="form-group">
               <label class="col-sm-3 control-label">Phone Number</label>
               <p class="form-control-static">{{user.phone}}</p>
            </div>
         </div>
      </div>
      <div style="display:flex; justify-content: space-around; width: 300px;">
         <button type="button" class="btn btn-info" aria-label="text-right Align" data-toggle="modal" data-target="#writeReview" ng-show="buttons[1]">
            Write A Review
         </button>
         <button type="button" class="btn btn-info" aria-label="text-right Align" ng-click="buttons[2] = !buttons[2]">
            View Reviews
         </button>
      </div>
   </div>
   <div ng-show="buttons[2]" style="margin-top: 20px;">
      <reviews data="{{user.reviews}}"></reviews>
   </div>
   <div ng-show="!userFound">
      <h1 style="text-align: center;">User Not Found</h1>
   </div>
</div>
<!--Message toggle form - -->
<div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
      <form class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Message Form</h4>
         </div>
         <div class="modal-body">
            <!--Change NG Models-->
            <div class="form-group">
               <label>Message</label>
               <textarea id="textarea" ng-model="message.content" class="form-control" style="height: 150px; resize: none;"></textarea>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="sendMessage()">Send</button>
         </div>
      </form>
   </div>
</div>


<div class="modal fade" id="writeReview" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
      <form class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Review Form</h4>
         </div>
         <div class="modal-body">
            <!--Change NG Models-->
            <div class="form-group">
               <label>Rating {{review.rating}}</label>
               <rater ng-model="review.rating"></rater>
            </div>
            <div class="form-group">
               <label>Review</label>
               <textarea id="textarea" ng-model="review.content" class="form-control" style="height: 150px; resize: none;"></textarea>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="sendReview()">Send</button>
         </div>
      </form>
   </div>
</div>