<navigation> </navigation>
<!--Rent Post Container-->
<div class="main" ng-controller='searchController'>
   <h2 style="margin-top: 0px; display:inline-block;">Search Results for {{key}}</h2>
   <div style="display:inline-block; float:right; margin-left:20px; " class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-label="Left Align">
        {{filterDisplay}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
         <li class="search_list" style="padding: 3px 20px 3px 20px;" ng-click="filterResults('All')">All</li>
         <li class="search_list" style="padding: 3px 20px 3px 20px;" ng-repeat="filter in filters" ng-click="filterResults(filter)"><input type="checkbox" aria-label="..." ng-checked="filter.selected" ng-click="filterResults()">  {{filter.label}}</li>
      </ul>
   </div>
   
   <!--Items Container-->
   <div class="row" style="margin:15px 10px 0px 10px;" >
      <h2>{{message}}</h2>
      <!--Rent Item-->
      <div class="col-md-4" style="width:246px; display:inline-block;" ng-repeat="item in rentItems">
         <!--Item Preview Content-->
         <div class="thumbnail item" ui-sref="borrow_item({random: item._id})">
            <img ng-src="{{item.pictures[0].url}}" alt="Image Not Found" style="width:100%; height:140px;"/>
            <p class="item-preview-title">{{item.name}}</p>
            <p class="item-preview-description">
               {{item.description}}
               <span class="item-preview-price">{{item.price}} USD {{item.priceOption}}</span>
            </p>
         </div>
      </div>
      <!--Borrow Item-->
      <div class="col-md-4" style="width:246px; display:inline-block;" ng-repeat="item in borrowItems">
         <!--Item Preview Content-->
         <div class="thumbnail item" ui-sref="borrow_item({random: item._id})">
            <img ng-src="{{item.pictures[0].url}}" alt="Image Not Found" style="width:100%; height:140px;"/>
            <p class="item-preview-title">{{item.name}}</p>
            <p class="item-preview-description">
               {{item.description}}
               <span class="item-preview-price">FREE</span>
            </p>
         </div>
      </div>
      <!--Request Items-->
      <div class="col-md-4" style="width:246px; display:inline-block;" ng-repeat="item in requestItems">
         <!--Item Preview Content-->
         <div class="thumbnail item" ui-sref="borrow_item({random: item._id})">
            <img ng-src="{{item.pictures[0].url}}" alt="Image Not Found" style="width:100%; height:140px;"/>
            <p class="item-preview-title">{{item.name}}</p>
            <p class="item-preview-description">
               {{item.description}}
               <span class="item-preview-price">NEEDED</span>
            </p>
         </div>
      </div>
   </div>
</div>