<navigation></navigation>
<div class="main">
   <!--Image and Profile Display Container-->
   <div class="row">
      <div style="float:left; margin: 50px 25px 20px 50px">
         <img ng-src="{{user.profileImage.url}}" style="width:300px; height:300px; border-radius:50%;"/>
         <div style="text-align:center; margin-top:20px;">
            <a ng-click="uploadUserPhoto()" class="btn btn-danger" role="button">Update Image</a>
         </div> 
      </div>
      <div class="col-md-5" style="float:left; margin:0px 40px 0px 25px;">
         <h1 class="form-signin-heading">
            My Profile
            <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editProfile" style="font-size:24px;"></span>
         </h1>
         <div class="form-horizontal">
            <div class="form-group">
               <label class="col-sm-3 control-label">Full name</label>
               <p class="form-control-static">{{user.name}}</p>
            </div>
            <div class="form-group">
               <label class="col-sm-3 control-label">Email</label>
               <p class="form-control-static">{{user.email}}</p>
            </div>
            <div class="form-group">
               <label class="col-sm-3 control-label">Phone Number</label>
               <p class="form-control-static">{{user.phone}}</p>
            </div>
            <div class="form-group">
               <label class="col-sm-3 control-label">Address</label>
               <p class="form-control-static">{{user.address}}</p>
            </div>
            <div class="form-group">
               <label class="col-sm-3 control-label">PayPal Account</label>
               <p class="form-control-static">{{user.paypalAccount}}</p>
            </div>
         </div>
      </div>
   </div>
   <!--Edit Profile Display Container-->
   <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" >
      <div class="modal-dialog" role="document">
         <form class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">Edit Profile</h4>
            </div>
            <div class="modal-body">
               <div class="alert alert-dismissible" role="alert" id="editAlert" style="display: none;">
                  <button class="close" ng-click="closeAlert()">&times;</span></button>
                  {{editMessage}}
               </div>
               <div class="form-group">
                  <label>User Name</label>
                  <input type="text" class="form-control" text="{{user.name}}" placeholder="Enter Name" ng-model="user.name" >
               </div>
               <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" text="{{user.email}}" placeholder="Enter Email" ng-model="user.email">
               </div>
               <div class="form-group">
                  <label for="username">Phone Number</label>
                  <input type="text" class="form-control" placeholder="Phone Number" ng-model="user.phone" text="{{user.phone}}">
               </div>
               <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" text="{{user.address}}" placeholder="Enter Address" ng-model="user.address">
               </div>
               <div class="form-group">
                  <label>PayPal Account</label>
                  <input type="text" class="form-control" text="{{user.paypalAccount}}" placeholder="Enter PayPal Account" ng-model="user.paypalAccount">
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='reload()'>Close</button>
               <button type="submit" class="btn btn-primary" ng-click="updateUser()">Save changes</button>
            </div>
         </form>
      </div>
   </div>
</div>
