<navigation> </navigation>
<!--Borrow Post Container-->
<div class="main" ng-controller='borrowPostController'>
	<!--Post Images, Hidden Till Pictures Uploaded-->
	<images id="images" pictures="{{borrowPost.pictures}}"></images>
	<!--Borrow Post Form-->
	<form name="borrowPostForm" id="form" style="float:left; width:calc(100% - 40px); margin-left:20px;">
		<!--Name-->
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Item Name" ng-model="borrowPost.name" required>
		</div>
		<!--Category-->
		<div class="form-group">
			<label>Category/Categories</label>
			<select ng-model="borrowPost.category" class="form-control" required>
				<option ng-repeat="category in categories">{{category}}</option>
			</select>
		</div>

		<div class="form-group">
			<label>Address</label>
			<input id="from" placeholder="Item Address" type="text" ng-model="user.from" placeholder="Type Address" class="form-control" autocomplete="off" required>
		</div>

		<div>
			<div id="map"></div>
		</div>
		
		<!--Description-->
		<div class="form-group">
			<label >Item Description</label>
			<textarea id="textarea" ng-model="borrowPost.description" class="form-control" style="height: 150px;"></textarea>
		</div>
		<button type="button" class="btn btn-default" ng-click="upload()">
			Upload Picture
		</button>
		<button style="margin-top: 15px;" class="btn btn-danger btn-block"  ng-click="createItem()" ng-disabled="borrowPostForm.$invalid">Submit</button>
	</form>
</div>