<navigation> </navigation>

<div style="margin-top:50px; width:100%; padding:15px; position:absolute;" ng-controller='requestPostController'>
	<images id="images" pictures="{{requestPost.pictures}}"></images>
	<form name="requestPostForm" id="form" style="float:left; width:calc(100% - 40px); margin-left:20px;">
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Item Name" ng-model="requestPost.name" required>
		</div>
		<div class="form-group">
			<label>Category/Categories</label>
			<select name="category" ng-model="requestPost.category" class="form-control" required>
				<option ng-repeat="category in categories">{{category}}</option>
			</select>
		</div>
		<div class="form-group">
			<label >Item Description</label>
			<textarea id="textarea" ng-model="requestPost.description" class="form-control" style="height: 150px;"></textarea>
		</div>
		<button type="button" class="btn btn-default" ng-click="upload()">
			Upload Picture
		</button>
		<button style="margin-top: 15px;"type="submit" class="btn btn-danger btn-block"  ng-click="createRequestPost()" ng-disabled="requestPostForm.$invalid">Submit</button>
	</form>
</div>